-#  This file is app/views/movies/index.html.haml

= form_tag movies_path(:foo => 'bar'), :method => :get, :id => "ratings_form" do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, !!(@ratings.include? rating), :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :id => "ratings_submit"

%h1 All Movies

%table#movies
  %thead
    %tr
      - if params[:release]
        %th= link_to "Movie Title", movies_path(:title => 'sorted'), :id => "title_header"
        %th Rating
        %th{:class => 'hilite'} 
          =link_to "Release Date", movies_path(:release => 'sorted'), :id => "release_date_header"
        %th More Info  
      - elsif params[:title]
        %th{:class => 'hilite'} 
          = link_to "Movie Title", movies_path(:title => 'sorted'), :id => "title_header"
        %th Rating
        %th= link_to "Release Date", movies_path(:release => 'sorted'), :id => "release_date_header"
        %th More Info  
      - else
        %th= link_to "Movie Title", movies_path(:title => 'sorted'), :id => "title_header"
        %th Rating
        %th= link_to "Release Date", movies_path(:release => 'sorted'), :id => "release_date_header"
        %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
